body{
    background-color: #fff3e6;
    
}
h1{
    color: #0d335d;
}
ul{
    color: #1a508b;
}
.top{
    background-color: #c1a1d3;
    

}
.middle
{
    position: relative;
    left: 5rem;
    font-size: large;
    
}